---
{% include 'projects.j2' %}

{% include 'job_templates.j2' %}

{% include 'inventories.j2' %}

{% include 'hosts.j2' %}

{% include 'inventory_sources.j2' %}

{% include 'teams.j2' %}

{% include 'roles.j2' %}

{% include 'settings.j2' %}

{% include 'credentials.j2' %}