################################### JOB TEMPLATES ################################################
controller_templates:
{% for host in vcenter_hosts %}
- name: VMWARE-VM-PROVISION [{{ host }}]
  description: VMWARE-VM-PROVISION [{{ host }}]
  organization: Default
  job_type: run
  inventory: VMWARE
  project: VMWARE-UseCases
  playbook: playbooks.yml
  become_enabled: false
  verbosity: 3
  custom_virtualenv: '/var/lib/awx/venv/vmware/'
  credentials:
  - "VMWARE"
  survey_enabled: true
  survey_spec: {{ '"{{' }} lookup('template', 'template_surveys/VMWARE-VM-PROVISION-{{ host }}.yml') | from_yaml {{ '}}"' }}
  extra_vars:
    task: provision_vm
- name: VMWARE-TAG-VM
  description: VMWARE-TAG-VM
  organization: Default
  job_type: run
  inventory: VMWARE
  project: VMWARE-UseCases
  playbook: playbooks.yml
  become_enabled: false
  verbosity: 3
  custom_virtualenv: '/var/lib/awx/venv/vmware/'
  credentials:
  - "VMWARE"
  survey_enabled: true
  survey_spec: {{ '"{{' }} lookup('template', 'template_surveys/VMWARE-TAG-VM-{{ host }}.yml') | from_yaml {{ '}}"' }}
  extra_vars:
    task: tag_vm
{% endfor %}