################################### PROJECTS ################################################
controller_projects:
- name: VMWARE-UseCases
  organization: Default
  scm_branch: master
  scm_clean: 'yes'
  scm_delete_on_update: 'no'
  scm_type: git
  scm_update_on_launch: 'yes'
  scm_url: https://github.com/M-Ghani97/sdaia-vmware.git